body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 64px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logo_icon {
  margin-right: auto;
  padding-left: 28px;

  cursor: pointer;
}

.search_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home {
  width: 48px;
  height: 48px;

  background-color: #1f1f1f;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.search_wrapper {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
}

.search_input {
  width: 475px;
  height: 48px;

  border-radius: 25px;

  background-color: #1f1f1f;
  border: none;

  color: white;

  font-size: 16px;

  padding-left: 46px;
  padding-right: 50px;

  &::placeholder {
    color: #b3b3b3;
  }
}

.search_icon {
  position: absolute;
  left: 12px;
  width: 22px;
  height: 22px;
}

.find_icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.button_box {
  display: flex;
  gap: 12px;
  padding-right: 28px;
  margin-left: auto;
}

.register {
  color: #989898;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.register:hover {
  color: white;
}

.login {
  width: 144px;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  color: black;

  cursor: pointer;
}
